@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f8f8f8 !important;
  font-family: 'Geomanist', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.reveal {
  opacity: 0;
  visibility: hidden;
}

.reveal.animate {
  opacity: 1;
  visibility: visible;
}

/* Clases base para las animaciones */
.fade-left {
  transform: translateX(-20px);
}

.fade-right {
  transform: translateX(20px);
}

.fade-up {
  transform: translateY(20px);
}

.fade-down {
  transform: translateY(-20px);
}

/* Cuando se activa la animación */
.animate.fade-left,
.animate.fade-right,
.animate.fade-up,
.animate.fade-down {
  transform: translateX(0) translateY(0);
  transition: all 0.4s ease-out;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}