@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--foreground);
  background: #f8f8f8 !important;
  font-family: 'Geomanist', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
